@import 'task-button.css';
@import 'task-delete-button.css';
@import 'task-info/index.css';

#tasks ul li.task {
  margin: 15px;
  background-color: #D1CFC5;
  border-bottom: 2px solid #C0BEB4;
  border-radius: 2px;
  opacity: 0.95;

  padding: 20px;
  display: flex;
  flex-direction: row;

  font-size: 30px;
  position: relative;
}

#tasks ul li.task:hover {
  box-shadow: 0 14px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 10;
  transition: 0.3s all;
}
