@import 'task-name.css';
@import 'task-time.css';

#task-list ul li.task div.task-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
